<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="__STATIC__/css/list.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h3>导	航	列	表</h3>
<table cellspacing="1">
	<tr>
		<th>标题</th>
		<th>url</th>
		<th>定位</th>
		<th>操作</th>
	</tr>
	<?php foreach($nav as $value):?>
	<tr>
		<td><?php echo $value['name'];?></td>
		<td><?php echo $value['url'];?></td>
		<td><?php echo $value['position'];?></td>
		<td>
			<a href="{:url('nav/edit')}?id=<?php echo $value['id'];?>">修改</a>
			<a href="{:url('nav/delnav')}?id=<?php echo $value['id'];?>">删除</a>
		</td>
	</tr>
	<?php endforeach;?>
</table>
	{$page}
</body>
</html>
