<meta charset="utf-8" />
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<link href="__STATIC__/css/add.css" rel="stylesheet" type="text/css" />
<form action="{:url('/admin/cooperator/add')}" method="POST" enctype="multipart/form-data">
	<table style="width: 103%;">
		<tr>
			<td style="width: 10%">合作者名称：</td>
			<td><input type="text" name="name" required /></td>
		</tr>

		<tr>
			<td>合作方图片：</td>
			<td><input type="file" name="image" id="file" class="image" required style="opacity: 0"/>
			<input type="text" style="width: 215px;height:28px;position: relative;right: 258px;" id="text" class="filetext"/>
			<button id="fileSpan" type="button" class="xiugaibtn" style="position: relative;right: 263px;height:28px;top:1px;">上传</button></td>
		</tr>
		<tr>
			<td class="tijiao"><input type="submit" value="添加" /><input type="reset" value="取消" /></td>
		</tr>

	</table>
</form>
<script type="text/javascript">
		var file = document.getElementById("file");  
        var text = document.getElementById("text");  
        $("#fileSpan").click(function(){    
            file.click();  
        });  
        file.onchange = type;
        function type(){text.value = file.value;} 
</script>


