<link href="__STATIC__/css/add.css" rel="stylesheet" type="text/css" />
<form action="{:url('news/addnewtype')}" method="post">
	<table style="width: 104%;">
		<tr>
			<td style="width:10%;">新分类名称：</td>	
			<td>
				<input type="text" id="id_ugn" required name="newtypename">
			</td>
		</tr>
		<tr>
			<td class="tijiao"><input type="submit" value="提 交" /><input type="reset" value="取 消" /></td>
		</tr>
	</table>
</form>
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>	
	<script type="text/javascript">
		$("#id_ugn").blur(function() {
			var new_type_name = $("#id_ugn").val();
			if (new_type_name) {		
				$.ajax({
					url:"{:url('/admin/news/ajax')}",
					method: 'GET',
					data: {new_type_name: new_type_name},
					dataType: 'JSON',
					success: function(response) {		
						if (response) {
							var tip = '<span style="color: red">'+ response['msg'] +'</span>';
							$("#id_ugn").siblings("span").remove();
							$("#id_ugn").parent().append(tip);	
						}
					}
				});
			} else {
				var tip = '<span style="color: red">分类名称不能为空</span>';
				$("#id_ugn").siblings("span").remove();
				$("#id_ugn").parent().append(tip);
			}
		})
	</script>

