<li>
    <div class="servce_hidden" style="background-color: #e5e5e5;">
        <div class="service_top" style="background-color:#e5e5e5;height:84px;text-align: center;">
            <img class="ser_img1" src="__STATIC__/uploads/{$va.img}" alt="">
            <h4 style="color: #e52729;font-size:20px;padding-bottom: 5px;">{$va.name}</h4>
        </div>
        <div class="service_bottom" style="background-color: white;padding:11px 12px;height: 188px;line-height: 28px;">
            {$va.content}
        </div>
    </div>
    <div class="servce_visible" style="height: 216px;padding: 15px;">
        <div class="service_top" style="height:84px;text-align: center;">
            <img class="ser_img2" style="width:78px;height:78px;" src="__STATIC__/uploads/{$va.img}" alt="">
        </div>
        <div class="service_bottom" style="height: 130px;line-height: 26px;text-align: center;">
            <h4 style="font-size: 20px;padding: 15px;font-weight:bold;color: #676767;">{$va.name}</h4>
        </div>
    </div>
</li>