
<meta charset="utf-8" />
<link href="umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<link href="__STATIC__/css/add.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="umeditor/third-party/jquery.min.js"></script>
<script type="text/javascript" src="umeditor/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="umeditor/umeditor.min.js"></script>
<link href="__STATIC__/css/add.css" rel="stylesheet" type="text/css" />

<form action="{:url('service/addservicetype')}" method="post">
	<table style="width: 100%;">
		
		<tr>
			<td style="width:10%;">新分类名称：</td>	
			<td>
				<input type="text" id="id_ugn" required name="servicetypename">
			</td>
		</tr>

		<tr>
			<td class="tijiao"><input type="submit" value="添加" /><input type="reset" value="取消" /></td>
		</tr>
		
	</table>
</form>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>	
	<script type="text/javascript">
		$("#id_ugn").blur(function() {
			var service_type_name = $("#id_ugn").val();
			if (service_type_name) {		
				$.ajax({
					url:"{:url('service/ajax')}",
					method: 'GET',
					data: {service_type_name: service_type_name},
					dataType: 'JSON',
					success: function(response) {		
						if (response) {
							var tip = '<span style="color: red">'+ response['msg'] +'</span>';
							$("#id_ugn").siblings("span").remove();
							$("#id_ugn").parent().append(tip);	
						}
					}
				});
			} else {
				var tip = '<span style="color: red">分类名称不能为空</span>';
				$("#id_ugn").siblings("span").remove();
				$("#id_ugn").parent().append(tip);
			}
		})
	</script>
	
	<script type="text/javascript">
		//实例化编辑器
		var um = UM.getEditor('myEditor');
	</script>
