<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="__STATIC__/css/list.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h3>联 系 信 息</h3>
<table cellspacing="1">
	<tr>
		<th>id</th>
		<th>京东店铺</th>
		<th>淘宝店铺</th>
		<th>慧聪店铺</th>
		<th>联系电话1</th>
		<th>联系电话2</th>
		<th>地址1</th>
		<th>地址1</th>
	</tr>
	{volist name="company_info" id="va"}
	<tr>
		<td>{$va.id}</td>
		<td>{$va.web_jingdong}</td>
		<td>{$va.web_taobao}</td>
		<td>{$va.web_huicong}</td>
		<td>{$va.tel1}</td>
		<td>{$va.tel2}</td>
		<td>{$va.address1}</td>
		<td>{$va.address2}</td>
	</tr>
	{/volist}
</table>
</body>
</html>